header{
    background-image: url("../imagenes/imagen\ de\ fondo\ facial.jpg");
    height: 400px;
    background-position: center;
    background-size: cover;
}
@include media-breakpoint-up (md){
    header {
        height:600px;
    }
}
div  {
padding: 25rem;
margin: 20px;
background-color: #dfbfbf;
border: 4px solid #e1c4d96b;
border-radius: .375rem;
max-width: 80%;
height: auto;
}

footer {

}